.forgotPassword {
  min-height: 100vh;
  background-image: linear-gradient(to right, #71b7dc, #338bcf);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vmax;
  box-sizing: border-box;
}

.forgotPasswordForm {
  background-color: white;
  width: 50%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotPasswordInputs {
  box-sizing: border-box;
  padding: 1vmax 2vmax;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 2vmax;
  font: 100 1.2rem "Roboto", sans-serif;
  outline: none;
}
.TokenBtn{
  width: 80%;
  height: 3.5vmax;
  padding: 8px 20px;
  background-color: rgb(36, 94, 218);
  cursor: pointer;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}
.TokenBtn:hover{
  background-color: rgb(12, 68, 151);
}

@media screen and (max-width: 600px) {
  .forgotPasswordForm {
    width: 100%;
  }

  .forgotPasswordInputs {
    padding: 4vw 8vw;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    margin: 4vw;
  }
}
